body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}

#item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.genre {
    margin-bottom: 20px;
    width: 100%;
}

.genre h2 {
    text-align: left;
    font-size: 24px;
    margin-bottom: 10px;
}

.item {
    position: relative;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    width: 150px;
    display: inline-block;
}

.item img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    pointer-events: none; /* これでカバーがクリックを妨げないようにする */
}

.cover::before, .cover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px; /* ここを太くする */
    background-color: red;
}

.cover::before {
    transform: rotate(45deg);
}

.cover::after {
    transform: rotate(-45deg);
}


input[type="number"] {
    width: 60px;
    text-align: center;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}
